#=======================================================
#		  Environment Variables
#=======================================================
export TERM=kitty
export TERMINAL=kitty
export EDITOR=nvim
export WEBSITE=162.243.161.67
export LANG=en_US.UTF-8
export VISUAL=vim nvim


#directories 
export SSH_KEY_PATH="$HOME/.ssh/id_rsa"
export FZF_BASE="/usr/share/fzf"
export CONFIG="$HOME/.config"
export ZDOTDIR="$HOME/.zsh"

export PERL5LIB="/home/aiyman/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"
export PERL_LOCAL_LIB_ROOT="/home/aiyman/perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}";
export PERL_MB_OPT="--install_base \"/home/aiyman/perl5\""
export PERL_MM_OPT="INSTALL_BASE=/home/aiyman/perl5"

path=(
$HOME/bin
$HOME/.gem/ruby/2.7.0/bin
$HOME/perl5/bin
$HOME/.cargo/bin
/usr/sbin 
)
export PATH 


# xbindkey configs
xbindkeys  &

#ibus for ja
ibus-daemon &

#compositor
picom -C &

#notification daemon
dunst &

#set background
~/.fehbg

# vim:ft=zsh
